html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: #426a29;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
}
