html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: #426a29;
}

canvas {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
